@charset "UTF-8";

article a{
    text-decoration: none;
}
article li{
    font-size: 20px;
}
article{
    width: 58%;
    float: left;
}
aside{
    width: 40%;
    float: right;
}
aside img{
    width: 45%;
    border-radius: 15px;
}
section{
    display: flex;
}